.common-btn{
    background-color: #5E85CC;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius:6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    transition: .35s;
    margin-left: 5cm;
}
.common-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    
}
.bopad{
    padding-left: 15%;
}